project:
  type: website
  resources:
    - ads.txt 
    - /.outputs/*
  output-dir: docs
  render:
    - "*.qmd"
    - "!/./blogging-env/"
    - "!/./environments/" # article-specific environments
execute:
  freeze: auto
website:
  title: "The Data Savvy Corner"
  favicon: /./favicon.ico
  site-url: "https://thedatasavvycorner.netlify.app/"
  description: "Musings, ramblings, generally putting things down in text so I don't forget them."
  search: false
  twitter-card:
    site: "@Rich_L1984"
  open-graph: true
  navbar:
    style: floating
    title: "The Data Savvy Corner"
    left:
      - icon: rss
        href: index.xml
      - text: "Technical Blog"
        icon: code-slash
        href: blogs/index.qmd
      - text: "Music"
        icon: music-note-beamed
        href: music-reviews/index.qmd
      - text: "Books"
        icon: book
        href: book-reviews/index.qmd
      - text: "Notepad"
        icon: pencil
        href: notepad/index.qmd
    tools:
      - icon: twitter-x
        href: https://twitter.com/Rich_L1984
      - icon: github
        href: https://github.com/r-leyshon
      - icon: linkedin
        href: https://www.linkedin.com/in/richard-leyshon-316121163/
format:
  html:
    theme: 
      light: cosmo
      dark: superhero
    css: /www/styles.css
    toc: true
    comments:
      giscus: 
        repo: r-leyshon/blogging
        repo-id: R_kgDOJ7xM-w
        category: Announcements
        category-id: DIC_kwDOJ7xM-84Chxs3
        mapping: url
        theme: cobalt
bibliography: ./bibliography/references.bib
biblio-title: ""
csl: ./bibliography/ieee.csl
adsense:
  publisher-id: ca-pub-6658778373981809
filters:
- adsense
