/* css styles */

.shaded_box {
  border: 1px solid black;
  box-shadow: 5px 5px 5px #eee;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.center-for-index {
  display: block;
  margin-left: auto;
  margin-right: 400px;
  width: 300px;
}

.center_diagram {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

iframe {
    display: block;
    width: 1066px;
    height: 600px;
    margin: 0 auto;
    background-color: #777;
}

.centerdiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
